product-component,
collection-component {
  display: block;
}

:root {
  --alpha-button-background: 1;
  --alpha-button-border: 1;
  --alpha-link: 0.85;
  --alpha-badge-border: 0.1;
  --focused-base-outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
  --focused-base-outline-offset: 0.3rem;
  --focused-base-box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

.product-card-wrapper .card,
.contains-card--product {
  --border-radius: var(--product-card-corner-radius);
  --border-width: var(--product-card-border-width);
  --border-opacity: var(--product-card-border-opacity);
  --shadow-horizontal-offset: var(--product-card-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--product-card-shadow-vertical-offset);
  --shadow-blur-radius: var(--product-card-shadow-blur-radius);
  --shadow-opacity: var(--product-card-shadow-opacity);
  --shadow-visible: var(--product-card-shadow-visible);
  --image-padding: var(--product-card-image-padding);
  --text-alignment: var(--product-card-text-alignment);
}

.collection-card-wrapper .card,
.contains-card--collection {
  --border-radius: var(--collection-card-corner-radius);
  --border-width: var(--collection-card-border-width);
  --border-opacity: var(--collection-card-border-opacity);
  --shadow-horizontal-offset: var(--collection-card-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--collection-card-shadow-vertical-offset);
  --shadow-blur-radius: var(--collection-card-shadow-blur-radius);
  --shadow-opacity: var(--collection-card-shadow-opacity);
  --shadow-visible: var(--collection-card-shadow-visible);
  --image-padding: var(--collection-card-image-padding);
  --text-alignment: var(--collection-card-text-alignment);
}

.article-card-wrapper .card,
.contains-card--article {
  --border-radius: var(--blog-card-corner-radius);
  --border-width: var(--blog-card-border-width);
  --border-opacity: var(--blog-card-border-opacity);
  --shadow-horizontal-offset: var(--blog-card-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--blog-card-shadow-vertical-offset);
  --shadow-blur-radius: var(--blog-card-shadow-blur-radius);
  --shadow-opacity: var(--blog-card-shadow-opacity);
  --shadow-visible: var(--blog-card-shadow-visible);
  --image-padding: var(--blog-card-image-padding);
  --text-alignment: var(--blog-card-text-alignment);
}

.contains-content-container,
.content-container {
  --border-radius: var(--text-boxes-radius);
  --border-width: var(--text-boxes-border-width);
  --border-opacity: var(--text-boxes-border-opacity);
  --shadow-horizontal-offset: var(--text-boxes-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--text-boxes-shadow-vertical-offset);
  --shadow-blur-radius: var(--text-boxes-shadow-blur-radius);
  --shadow-opacity: var(--text-boxes-shadow-opacity);
  --shadow-visible: var(--text-boxes-shadow-visible);
}

.contains-media,
.global-media-settings {
  --border-radius: var(--media-radius);
  --border-width: var(--media-border-width);
  --border-opacity: var(--media-border-opacity);
  --shadow-horizontal-offset: var(--media-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--media-shadow-vertical-offset);
  --shadow-blur-radius: var(--media-shadow-blur-radius);
  --shadow-opacity: var(--media-shadow-opacity);
  --shadow-visible: var(--media-shadow-visible);
}

/* base */

.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 1.5rem;
}

body:has(.section-header .drawer-menu) .announcement-bar-section .page-width {
  max-width: 100%;
}

.page-width.drawer-menu {
  max-width: 100%;
}

.page-width-desktop {
  padding: 0;
  margin: 0 auto;
}

.utility-bar__grid.page-width {
  padding-left: 3rem;
  padding-right: 3rem;
}

@media screen and (min-width: 750px) {
  .page-width {
    padding: 0 5rem;
  }

  .header.page-width,
  .utility-bar__grid.page-width {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .page-width--narrow {
    padding: 0 9rem;
  }

  .page-width-desktop {
    padding: 0;
  }

  .page-width-tablet {
    padding: 0 5rem;
  }
}

@media screen and (min-width: 990px) {
  .header:not(.drawer-menu).page-width {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .page-width--narrow {
    max-width: 72.6rem;
    padding: 0;
  }

  .page-width-desktop {
    max-width: var(--page-width);
    padding: 0 5rem;
  }
}

.isolate {
  position: relative;
  z-index: 0;
}

.content-for-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-for-layout > .shopify-section:last-child {
  flex-grow: 1;
}

.section + .section {
  margin-top: var(--spacing-sections-mobile);
}

@media screen and (min-width: 750px) {
  .section + .section {
    margin-top: var(--spacing-sections-desktop);
  }
}

.element-margin-top {
  margin-top: 5rem;
}

@media screen and (min-width: 750px) {
  .element-margin {
    margin-top: calc(5rem + var(--page-width-margin));
  }
}

.background-secondary {
  background-color: rgba(var(--color-foreground), 0.04);
}

.grid-auto-flow {
  display: grid;
  grid-auto-flow: column;
}

.page-margin,
.shopify-challenge__container {
  margin: 7rem auto;
}

.rte-width {
  max-width: 82rem;
  margin: 0 auto 2rem;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.visually-hidden--inline {
  margin: 0;
  height: 1em;
}

.overflow-hidden {
  overflow: hidden;
}

.skip-to-content-link:focus {
  z-index: 9999;
  position: inherit;
  overflow: auto;
  width: auto;
  height: auto;
  clip: auto;
}

.full-width-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

::selection {
  background-color: rgba(var(--color-foreground), 0.2);
}

.text-body {
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  letter-spacing: calc(var(--font-heading-scale) * 0.06rem);
  color: rgb(var(--color-foreground));
  line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
  word-break: break-word;
}

.hxxl {
  font-size: clamp(calc(var(--font-heading-scale) * 5.6rem), 14vw, calc(var(--font-heading-scale) * 7.2rem));
  line-height: 1.1;
}

.hxl {
  font-size: calc(var(--font-heading-scale) * 5rem);
  line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
}

@media only screen and (min-width: 750px) {
  .hxl {
    font-size: calc(var(--font-heading-scale) * 6.2rem);
  }
}

.h0 {
  font-size: calc(var(--font-heading-scale) * 4rem);
}

@media only screen and (min-width: 750px) {
  .h0 {
    font-size: calc(var(--font-heading-scale) * 5.2rem);
  }
}

h1,
.h1 {
  font-size: calc(var(--font-heading-scale) * 3rem);
}

@media only screen and (min-width: 750px) {
  h1,
  .h1 {
    font-size: calc(var(--font-heading-scale) * 4rem);
  }
}

h2,
.h2 {
  font-size: calc(var(--font-heading-scale) * 2rem);
}

@media only screen and (min-width: 750px) {
  h2,
  .h2 {
    font-size: calc(var(--font-heading-scale) * 2.4rem);
  }
}

h3,
.h3 {
  font-size: calc(var(--font-heading-scale) * 1.7rem);
}

@media only screen and (min-width: 750px) {
  h3,
  .h3 {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
  }
}

h4,
.h4 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-size: calc(var(--font-heading-scale) * 1.5rem);
}

h5,
.h5 {
  font-size: calc(var(--font-heading-scale) * 1.2rem);
}

@media only screen and (min-width: 750px) {
  h5,
  .h5 {
    font-size: calc(var(--font-heading-scale) * 1.3rem);
  }
}

h6,
.h6 {
  color: rgba(var(--color-foreground), 0.75);
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

blockquote {
  font-style: italic;
  color: rgba(var(--color-foreground), 0.75);
  border-left: 0.2rem solid rgba(var(--color-foreground), 0.2);
  padding-left: 1rem;
}

@media screen and (min-width: 750px) {
  blockquote {
    padding-left: 1.5rem;
  }
}

.caption {
  font-size: 1rem;
  letter-spacing: 0.07rem;
  line-height: calc(1 + 0.7 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .caption {
    font-size: 1.2rem;
  }
}

.caption-with-letter-spacing {
  font-size: 1rem;
  letter-spacing: 0.13rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  text-transform: uppercase;
}

.caption-with-letter-spacing--medium {
  font-size: 1.2rem;
  letter-spacing: 0.16rem;
}

.caption-with-letter-spacing--large {
  font-size: 1.4rem;
  letter-spacing: 0.18rem;
}

.caption-large,
.customer .field input,
.customer select,
.field__input,
.form__label,
.select__select {
  font-size: 1.3rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  letter-spacing: 0.04rem;
}

.color-foreground {
  color: rgb(var(--color-foreground));
}

table:not([class]) {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 1.4rem;
  border-style: hidden;
  box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.2);
  /* draws the table border  */
}

table:not([class]) td,
table:not([class]) th {
  padding: 1em;
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

@media screen and (max-width: 749px) {
  .small-hide {
    display: none !important;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .medium-hide {
    display: none !important;
  }
}

@media screen and (min-width: 990px) {
  .large-up-hide {
    display: none !important;
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.light {
  opacity: 0.7;
}

a:empty,
ul:empty,
dl:empty,
div:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
  display: none;
}

.link,
.customer a {
  cursor: pointer;
  display: inline-block;
  border: none;
  box-shadow: none;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  color: rgb(var(--color-link));
  background-color: transparent;
  font-size: 1.4rem;
  font-family: inherit;
}

.link--text {
  color: rgb(var(--color-foreground));
}

.link--text:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.link-with-icon {
  display: inline-flex;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  margin-bottom: 4.5rem;
  white-space: nowrap;
}

.link-with-icon .icon {
  width: 1.5rem;
  margin-left: 1rem;
}

a:not([href]) {
  cursor: not-allowed;
}

.circle-divider::after {
  content: '\2022';
  margin: 0 1.3rem 0 1.5rem;
}

.circle-divider:last-of-type::after {
  display: none;
}

hr {
  border: none;
  height: 0.1rem;
  background-color: rgba(var(--color-foreground), 0.2);
  display: block;
  margin: 5rem 0;
}

@media screen and (min-width: 750px) {
  hr {
    margin: 7rem 0;
  }
}

.full-unstyled-link {
  text-decoration: none;
  color: currentColor;
  display: block;
}

.placeholder {
  background-color: rgba(var(--color-foreground), 0.04);
  color: rgba(var(--color-foreground), 0.55);
  fill: rgba(var(--color-foreground), 0.55);
}

details > * {
  box-sizing: border-box;
}

.break {
  word-break: break-word;
}

.visibility-hidden {
  visibility: hidden;
}

@media (prefers-reduced-motion) {
  .motion-reduce {
    transition: none !important;
    animation: none !important;
  }
}

:root {
  --duration-short: 100ms;
  --duration-default: 200ms;
  --duration-announcement-bar: 250ms;
  --duration-medium: 300ms;
  --duration-long: 500ms;
  --duration-extra-long: 600ms;
  --duration-extra-longer: 750ms;
  --duration-extended: 3s;
  --ease-out-slow: cubic-bezier(0, 0, 0.3, 1);
  --animation-slide-in: slideIn var(--duration-extra-long) var(--ease-out-slow) forwards;
  --animation-fade-in: fadeIn var(--duration-extra-long) var(--ease-out-slow);
}

.underlined-link,
.customer a,
.inline-richtext a {
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: text-decoration-thickness ease 100ms;
}

.underlined-link,
.customer a {
  color: rgba(var(--color-link), var(--alpha-link));
}

.inline-richtext a,
.rte.inline-richtext a {
  color: currentColor;
}

.underlined-link:hover,
.customer a:hover,
.inline-richtext a:hover {
  color: rgb(var(--color-link));
  text-decoration-thickness: 0.2rem;
}

.icon-arrow {
  width: 1.5rem;
}

h3 .icon-arrow,
.h3 .icon-arrow {
  width: calc(var(--font-heading-scale) * 1.5rem);
}

/* arrow animation */
.animate-arrow .icon-arrow path {
  transform: translateX(-0.25rem);
  transition: transform var(--duration-short) ease;
}

.animate-arrow:hover .icon-arrow path {
  transform: translateX(-0.05rem);
}

.svg-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.svg-wrapper > svg {
  height: 100%;
  width: 100%;
}

/* base-details-summary */
summary {
  cursor: pointer;
  list-style: none;
  position: relative;
}

summary .icon-caret {
  position: absolute;
  height: 0.6rem;
  right: 1.5rem;
  top: calc(50% - 0.2rem);
}

summary::-webkit-details-marker {
  display: none;
}

.disclosure-has-popup {
  position: relative;
}

.disclosure-has-popup[open] > summary::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: block;
  cursor: default;
  content: ' ';
  background: transparent;
}

.disclosure-has-popup > summary::before {
  display: none;
}

.disclosure-has-popup[open] > summary + * {
  z-index: 100;
}

@media screen and (min-width: 750px) {
  .disclosure-has-popup[open] > summary + * {
    z-index: 4;
  }

  .facets .disclosure-has-popup[open] > summary + * {
    z-index: 2;
  }
}

.placeholder-svg {
  height: 100%;
  width: 100%;
}

/* base-focus */
/*
  Focus ring - default (with offset)
*/

*:focus {
  outline: 0;
  box-shadow: none;
}

*:focus-visible {
  outline: var(--focused-base-outline);
  outline-offset: var(--focused-base-outline-offset);
  box-shadow: var(--focused-base-box-shadow);
}

/* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
.focused {
  outline: var(--focused-base-outline);
  outline-offset: var(--focused-base-outline-offset);
  box-shadow: var(--focused-base-box-shadow);
}

/*
  Focus ring - inset
*/

.focus-inset:focus-visible {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
  outline-offset: -0.2rem;
  box-shadow: 0 0 0.2rem 0 rgba(var(--color-foreground), 0.3);
}

.focused.focus-inset {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
  outline-offset: -0.2rem;
  box-shadow: 0 0 0.2rem 0 rgba(var(--color-foreground), 0.3);
}

/*
×¯:êÚ$z{-®éÜj×ÆÂ×v–GF‚–g&ÖRÀ¢ævÆö&ÂÖÖVF–×6WGF–æw2ÒÖgVÆÂ×v–GF‚çÆ6V†öÆFW"×7fr°¢&÷&FW"×&F—W3¢°¢&÷&FW"ÖÆVgC¢æöæS°¢&÷&FW"×&–v‡C¢æöæS°§Ð ¢ò¢6†V6²f÷"fÆW†&÷‚v–âöÆFW"6f&’fW'6–öç2¢ð¤7W÷'G2æ÷B†–ç6WC¢‚’°¢æw&–B°¢Ö&v–âÖÆVgC¢6Æ2‚Ó¢f"‚ÒÖw&–BÖÖö&–ÆRÖ†÷&—¦öçFÂ×76–ær’“°¢Ð ¢æw&–Eõö—FVÒ°¢FF–ærÖÆVgC¢f"‚ÒÖw&–BÖÖö&–ÆRÖ†÷&—¦öçFÂ×76–ær“°¢FF–ærÖ&÷GFöÓ¢f"‚ÒÖw&–BÖÖö&–ÆR×fW'F–6Â×76–ær“°¢Ð ¢ÖVF–67&VVâæB†Ö–â×v–GFƒ¢sS‚’°¢æw&–B°¢Ö&v–âÖÆVgC¢6Æ2‚Ó¢f"‚ÒÖw&–BÖFW6·F÷Ö†÷&—¦öçFÂ×76–ær’“°¢Ð ¢æw&–Eõö—FVÒ°¢FF–ærÖÆVgC¢f"‚ÒÖw&–BÖFW6·F÷Ö†÷&—¦öçFÂ×76–ær“°¢FF–ærÖ&÷GFöÓ¢f"‚ÒÖw&–BÖFW6·F÷×fW'F–6Â×76–ær“°¢Ð¢Ð ¢æw&–BÒÖvÆW72æw&–Eõö—FVÒ°¢FF–ærÖÆVgC¢°¢FF–ærÖ&÷GFöÓ¢°¢Ð ¢ÖVF–67&VVâæB†Ö–â×v–GFƒ¢sC—‚’°¢æw&–BÒ×VV²æw&–Eõö—FVÒ°¢FF–ærÖÆVgC¢f"‚ÒÖw&–BÖÖö&–ÆRÖ†÷&—¦öçFÂ×76–ær“°¢Ð¢Ð ¢ç&öGV7BÖw&–Bæw&–Eõö—FVÒ°¢FF–ærÖ&÷GFöÓ¢f"‚ÒÖw&–BÖÖö&–ÆR×fW'F–6Â×76–ær“°¢Ð ¢ÖVF–67&VVâæB†Ö–â×v–GFƒ¢sS‚’°¢ç&öGV7BÖw&–Bæw&–Eõö—FVÒ°¢FF–ærÖ&÷GFöÓ¢f"‚ÒÖw&–BÖFW6·F÷×fW'F–6Â×76–ær“°¢Ð¢Ð§Ð ¢æföçBÖ&öG’Ö&öÆB°¢föçB×vV–v‡C¢f"‚ÒÖföçBÖ&öG’×vV–v‡BÖ&öÆB“°§Ð ¢ò¢÷WFÆ–æRæB&÷&FW"7G–Æ–ærf÷"v–æF÷w2†–v‚6öçG&7BÖöFR¢ð¤ÖVF–†f÷&6VBÖ6öÆ÷'3¢7F—fR’°¢æ'WGFöâÀ¢ç6†÷–g’Ö6†ÆÆVævUõö'WGFöâÀ¢æ7W7FöÖW"'WGFöâ°¢&÷&FW#¢G&ç7&VçB6öÆ–Bƒ°¢Ð ¢æ'WGFöã¦fö7W2×f—6–&ÆRÀ¢æ'WGFöã¦fö7W2À¢æ'WGFöâæfö7W6VBÀ¢ç6†÷–g’×–ÖVçBÖ'WGFöåõö'WGFöâÒ×Væ'&æFVC¦fö7W2×f—6–&ÆRÀ¢ç6†÷–g’×–ÖVçBÖ'WGFöâ·&öÆSÒv'WGFöâuÓ¦fö7W2×f—6–&ÆRÀ¢ç6†÷–g’×–ÖVçBÖ'WGFöåõö'WGFöâÒ×Væ'&æFVC¦fö7W2À¢ç6†÷–g’×–ÖVçBÖ'WGFöâ·&öÆSÒv'WGFöâuÓ¦fö7W2°¢÷WFÆ–æS¢6öÆ–BG&ç7&VçBƒ°¢Ð ¢æf–VÆEõö–çWC¦fö7W2À¢ç6VÆV7Eõ÷6VÆV7C¦fö7W2À¢æ7W7FöÖW"æf–VÆB–çWC¦fö7W2À¢æ7W7FöÖW"6VÆV7C¦fö7W2À¢æÆö6Æ—¦F–öâÖf÷&Õõ÷6VÆV7C¦fö7W2æÆö6Æ—¦F–öâÖf÷&Õõ÷6VÆV7C¦gFW"°¢÷WFÆ–æS¢G&ç7&VçB6öÆ–Bƒ°¢Ð ¢æÆö6Æ—¦F–öâÖf÷&Õõ÷6VÆV7C¦fö7W2°¢÷WFÆ–æS¢G&ç7&VçB6öÆ–Bƒ°¢Ð§Ð ¢ç'FS¦gFW"°¢6ÆV#¢&÷Fƒ°¢6öçFVçC¢rs°¢F—7Æ“¢&Æö6³°§Ð ¢ç'FRâ£¦f—'7BÖ6†–ÆB°¢Ö&v–â×F÷¢°§Ð ¢ç'FRâ£¦Æ7BÖ6†–ÆB°¢Ö&v–âÖ&÷GFöÓ¢°§Ð ¢ç'FRF&ÆR°¢F&ÆRÖÆ–÷WC¢f—†VC°§Ð ¤ÖVF–67&VVâæB†Ö–â×v–GFƒ¢sS‚’°¢ç'FRF&ÆRFB°¢FF–ærÖÆVgC¢ã'&VÓ°¢FF–ær×&–v‡C¢ã'&VÓ°¢Ð§Ð ¢ç'FR–Ör°¢†V–v‡C¢WFó°¢Ö‚×v–GFƒ¢S°¢&÷&FW#¢f"‚ÒÖÖVF–Ö&÷&FW"×v–GF‚’6öÆ–B&v&‡f"‚ÒÖ6öÆ÷"Öf÷&Vw&÷VæB’Âf"‚ÒÖÖVF–Ö&÷&FW"Ö÷6—G’’“°¢&÷&FW"×&F—W3¢f"‚ÒÖÖVF–×&F—W2“°¢&÷‚×6†F÷s¢f"‚ÒÖÖVF–×6†F÷rÖ†÷&—¦öçFÂÖöfg6WB’f"‚ÒÖÖVF–×6†F÷r×fW'F–6ÂÖöfg6WB’f"‚ÒÖÖVF–×6†F÷rÖ&ÇW"×&F—W2¢&v&‡f"‚ÒÖ6öÆ÷"×6†F÷r’Âf"‚ÒÖÖVF–×6†F÷rÖ÷6—G’’“°¢Ö&v–âÖ&÷GFöÓ¢f"‚ÒÖÖVF–×6†F÷r×fW'F–6ÂÖöfg6WB“°§Ð ¢ç'FRVÂÀ¢ç'FRöÂ°¢Æ—7B×7G–ÆR×÷6—F–öã¢–ç6–FS°¢FF–ærÖÆVgC¢'&VÓ°§Ð ¢ç'FRÆ’°¢Æ—7B×7G–ÆS¢–æ†W&—C°§Ð ¢ç'FRÆ“¦Æ7BÖ6†–ÆB°¢Ö&v–âÖ&÷GFöÓ¢°§Ð ¢ç'FR°¢6öÆ÷#¢&v&‡f"‚ÒÖ6öÆ÷"ÖÆ–æ²’Âf"‚ÒÖÇ†ÖÆ–æ²’“°¢FW‡B×VæFW&Æ–æRÖöfg6WC¢ã7&VÓ°¢FW‡BÖFV6÷&F–öâ×F†–6¶æW73¢ã&VÓ°¢G&ç6—F–öã¢FW‡BÖFV6÷&F–öâ×F†–6¶æW72f"‚ÒÖGW&F–öâ×6†÷'B’V6S°§Ð ¢ç'FR¦†÷fW"°¢6öÆ÷#¢&v"‡f"‚ÒÖ6öÆ÷"ÖÆ–æ²’“°¢FW‡BÖFV6÷&F–öâ×F†–6¶æW73¢ã'&VÓ°§Ð ¢ç'FR&Æö6·V÷FR°¢F—7Æ“¢–æÆ–æRÖfÆWƒ°§Ð ¢ç'FR&Æö6·V÷FRâ¢°¢Ö&v–ã¢ÓãW&VÒÓãW&VÒ°§Ð ¢ò¢–ÖvRÖ6²vÆö&Â7G–ÆW2¢ð ¢ç6†RÒÖÖ6²°¢F—7Æ“¢&Æö6³°¢†V–v‡C¢°¢v–GFƒ¢°§Ð ¢ç6†RÒÖ&6‚°¢6Æ—×Fƒ¢W&Â‚r56†RÔ&6‚r“°§Ð ¢ç6†RÒÖ&Æö"°¢6Æ—×Fƒ¢öÇ–vöâ‡f"‚Ò×6†RÒÖ&Æö"Ó’“°§Ð ¢ç6†RÒÖ6†Wg&öæÆVgB°¢6Æ—×Fƒ¢öÇ–vöâƒRRÂƒRRSRÂRRÂRRRÂRSRÂRRR“°§Ð ¢ç6†RÒÖ6†Wg&öç&–v‡B°¢6Æ—×Fƒ¢öÇ–vöâƒƒRRRÂRSRÂƒRRRÂRRÂRRSRÂRR“°§Ð ¢ç6†RÒÖ6—&6ÆR°¢6Æ—×Fƒ¢6—&6ÆR†6Æ÷6W7B×6–FR“°§Ð ¢ç6†RÒÖF–ÖöæB°¢6Æ—×Fƒ¢öÇ–vöâƒSRRÂRSRÂSRRÂRSR“°§Ð ¢ç6†RÒ×&ÆÆVÆöw&Ò°¢6Æ—×Fƒ¢öÇ–vöâƒRRÂRRÂƒRRRÂRR“°§Ð ¢ç6†RÒ×&÷VæB°¢6Æ—×Fƒ¢VÆÆ—6RƒCRRCRRBSRSR“°§Ð ¢ò¢f—†VB&6¶w&÷VæB¢ð¢ææ–ÖFRÒÖf—†VB°¢6Æ—×Fƒ¢–ç6WBƒ“°§Ð ¢ææ–ÖFRÒÖf—†VBâ–Ös¦æ÷B‚ç¦ööÒ“¦æ÷B‚æFVfW'&VBÖÖVF–õ÷÷7FW"Ö'WGFöâ’À¢ææ–ÖFRÒÖf—†VBâ7fs¦æ÷B‚ç¦ööÒ“¦æ÷B‚æFVfW'&VBÖÖVF–õ÷÷7FW"Ö'WGFöâ’°¢÷6—F–öã¢f—†VC°¢†V–v‡C¢fƒ°§Ð ¢ò¢¦ööÒ–â–ÖvRöâ67&öÆÂ¢ð¢ææ–ÖFRÒ×¦ööÒÖ–â°¢Ò×¦ööÒÖ–â×&F–ó¢°§Ð ¢ææ–ÖFRÒ×¦ööÒÖ–ââ–ÖrÀ¢ææ–ÖFRÒ×¦ööÒÖ–ââç7fr×w&W"°¢G&ç6—F–öã¢66ÆRf"‚ÒÖGW&F–öâ×6†÷'B’Æ–æV#°¢66ÆS¢f"‚Ò×¦ööÒÖ–â×&F–ò“°§Ð ¢ò¢æ–ÖF–öç2¢ð ¤ÖVF–‡&VfW'2×&VGV6VBÖÖ÷F–öã¢æò×&VfW&Væ6R’°¢ææ–ÖFRÒÖÖ&–VçBâ–ÖrÀ¢ææ–ÖFRÒÖÖ&–VçBâç7fr×w&W"°¢æ–ÖF–öã¢æ–ÖFTÖ&–VçB32Æ–æV"–æf–æ—FS°¢Ð ¢¶W–g&ÖW2æ–ÖFTÖ&–VçB°¢R°¢G&ç6f÷&Ó¢&÷FFRƒFVr’G&ç6ÆFU‚ƒVÒ’&÷FFRƒFVr’66ÆRƒã"“°¢Ð¢R°¢G&ç6f÷&Ó¢&÷FFRƒ3cFVr’G&ç6ÆFU‚ƒVÒ’&÷FFR‚Ó3cFVr’66ÆRƒã"“°¢Ð¢Ð ¢ç67&öÆÂ×G&–vvW"ææ–ÖFRÒÖfFRÖ–âÀ¢ç67&öÆÂ×G&–vvW"ææ–ÖFRÒ×6Æ–FRÖ–â°¢÷6—G“¢ã°¢Ð ¢ç67&öÆÂ×G&–vvW"ææ–ÖFRÒ×6Æ–FRÖ–â°¢G&ç6f÷&Ó¢G&ç6ÆFU’ƒ'&VÒ“°¢Ð ¢ç67&öÆÂ×G&–vvW#¦æ÷B‚ç67&öÆÂ×G&–vvW"ÒÖöfg67&VVâ’ææ–ÖFRÒÖfFRÖ–â°¢÷6—G“¢°¢æ–ÖF–öã¢f"‚ÒÖæ–ÖF–öâÖfFRÖ–â“°¢Ð ¢ç67&öÆÂ×G&–vvW#¦æ÷B‚ç67&öÆÂ×G&–vvW"ÒÖöfg67&VVâ’ææ–ÖFRÒ×6Æ–FRÖ–â°¢æ–ÖF–öã¢f"‚ÒÖæ–ÖF–öâ×6Æ–FRÖ–â“°¢æ–ÖF–öâÖFVÆ“¢6Æ2‡f"‚ÒÖæ–ÖF–öâÖ÷&FW"’¢sV×2“°¢Ð ¢ç67&öÆÂ×G&–vvW"ç67&öÆÂ×G&–vvW"ÒÖFW6–vâÖÖöFRææ–ÖFRÒÖfFRÖ–âÀ¢ç67&öÆÂ×G&–vvW"ç67&öÆÂ×G&–vvW"ÒÖFW6–vâÖÖöFRææ–ÖFRÒ×6Æ–FRÖ–âÀ¢ç67&öÆÂ×G&–vvW"ç67&öÆÂ×G&–vvW"ÒÖFW6–vâÖÖöFRç6Æ–FW"À¢ç67&öÆÂ×G&–vvW#¦æ÷B‚ç67&öÆÂ×G&–vvW"ÒÖöfg67&VVâ’ç67&öÆÂ×G&–vvW"ÒÖ6æ6VÂ°¢÷6—G“¢°¢æ–ÖF–öã¢æöæS°¢G&ç6—F–öã¢æöæS°¢G&ç6f÷&Ó¢æöæS°¢Ð ¢ç67&öÆÂ×G&–vvW"ç67&öÆÂ×G&–vvW"ÒÖFW6–vâÖÖöFRææ–ÖFRÒ×6Æ–FRÖ–â°¢G&ç6f÷&Ó¢G&ç6ÆFU’ƒ“°¢Ð ¢¶W–g&ÖW26Æ–FT–â°¢g&öÒ°¢G&ç6f÷&Ó¢G&ç6ÆFU’ƒ'&VÒ“°¢÷6—G“¢ã°¢Ð¢Fò°¢G&ç6f÷&Ó¢G&ç6ÆFU’ƒ“°¢÷6—G“¢°¢Ð¢Ð ¢¶W–g&ÖW2fFT–â°¢g&öÒ°¢÷6—G“¢ã°¢Ð¢Fò°¢÷6—G“¢°¢Ð¢Ð§Ð ¢ò¢VÆVÖVçB†÷fW'3¢fW'F–6ÂÆ–gBÂ6BÆ–gB¢ð ¤ÖVF–‡&VfW'2×&VGV6VBÖÖ÷F–öã¢æò×&VfW&Væ6R’æB††÷fW#¢†÷fW"’°¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6&B×w&W"æ6&BÒÖ6&BÀ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6&B×w&W"æ6&BÒ×7FæF&Bæ6&Eõö–ææW"À¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ'WGFöã¦æ÷B‚æ'WGFöâÒ×FW'F–'’’À¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBç6†÷–g’Ö6†ÆÆVævUõö'WGFöâÀ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ7W7FöÖW"'WGFöâÀ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBç6†÷–g’×–ÖVçBÖ'WGFöåõö'WGFöâÀ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæFVfW'&VBÖÖVF–æFVfW'&VBÖÖVF–õ÷÷7FW"Ö'WGFöâ°¢G&ç6—F–öã¢G&ç6f÷&Òf"‚ÒÖGW&F–öâÖÆöær’V6RÂ&÷‚×6†F÷rf"‚ÒÖGW&F–öâÖÆöær’V6S°¢G&ç6f÷&ÒÖ÷&–v–ã¢6VçFW#°¢Ð ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6&B×w&W#¦†÷fW"æ6&BÒÖ6&BÀ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6&B×w&W#¦†÷fW"æ6&BÒ×7FæF&Bæ6&Eõö–ææW"À¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ'WGFöã¦æ÷B‚æ'WGFöâÒ×FW'F–'’“¦æ÷B…¶F—6&ÆVEÒ“¦†÷fW"À¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBç6†÷–g’Ö6†ÆÆVævUõö'WGFöã¦æ÷B…¶F—6&ÆVEÒ“¦†÷fW"À¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ7W7FöÖW"'WGFöã¦æ÷B…¶F—6&ÆVEÒ“¦†÷fW"À¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBç6†÷–g’×–ÖVçBÖ'WGFöåõö'WGFöã¦†÷fW"À¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæFVfW'&VBÖÖVF–¦†÷fW"æFVfW'&VBÖÖVF–õ÷÷7FW"Ö'WGFöâ°¢G&ç6—F–öã¢G&ç6f÷&Òf"‚ÒÖGW&F–öâÖW‡FVæFVB’V6RÂ&÷‚×6†F÷rf"‚ÒÖGW&F–öâÖÆöær’V6S²ò¢6Æ÷rF†R6&BG&ç6—F–öâ7VVBv†–ÆR†÷fW"—27F—fRâ¢ð¢G&ç6f÷&Ó¢&÷FFRƒFVr“°¢&÷‚×6†F÷s¢Ó&VÒÓ&VÒ&VÒÓ&VÒ&v&ƒÂÂÂãR’Â&VÒ&VÒ&VÒÓ&VÒ&v&ƒÂÂÂãR’À¢ãW&VÒ&v&ƒ#SRÂ#SRÂ#SRÂ’Â'&VÒ2ãW&VÒÓ'&VÒ&v&ƒÂÂÂãR“°¢Ð ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæFVfW'&VBÖÖVF–¦†÷fW"æFVfW'&VBÖÖVF–õ÷÷7FW"Ö'WGFöâ°¢G&ç6f÷&Ó¢G&ç6ÆFR‚ÓSRÂÓSR’66ÆRƒãR“²ò¢Ç’7V6–Æ—¦VBG&ç6f÷&ÒFòF†Rf–FVòÆ’'WGFöââ¢ð¢Ð ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6öÆÆvUõö—FVÒæ6&B×w&W#¦†÷fW"æ6&BÒÖ6&BÀ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6öÆÆvUõö—FVÒæ6&B×w&W#¦†÷fW"æ6&BÒ×7FæF&Bæ6&Eõö–ææW"°¢G&ç6f÷&Ó¢&÷FFRƒãVFVr“²ò¢ÆW72–çFVç6R&÷FF–öâf÷"6öÆÆvR—FV×2â¢ð¢Ð ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBç&öGV7BÖw&–Bæw&–Eõö—FVÓ¦†÷fW"À¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6öÆÆV7F–öâÖÆ—7Bæw&–Eõö—FVÓ¦†÷fW"À¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6öÆÆvUõö—FVÓ¦†÷fW"À¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ&ÆörÖ'F–6ÆW2æ'F–6ÆS¦†÷fW"À¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6ö×ÆVÖVçF'’×6Æ–FRÆ“¦†÷fW"°¢¢Ö–æFWƒ¢#²ò¢Ö¶R7W&RF†R†÷fW&VB6&B—2F†RF÷Ö÷7B6&Bâ¢ð¢Ð ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBç&öGV7BÖw&–B°¢—6öÆF–öã¢—6öÆFS²ò¢Vç7W&R¢Ö–æFW‚6†ævW2†W&RFöâwBæVvF—fVÇ’VffV7B÷F†W"T’7F6¶–ærâ¢ð¢Ð ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6&B×w&W"æ6&BÒ×6†Ræ6&BÒ×7FæF&C¦æ÷B‚æ6&BÒ×FW‡B’æ6&Eõö–ææW"°¢&÷‚×6†F÷s¢æöæS°¢G&ç6—F–öã¢G&ç6f÷&Òf"‚ÒÖGW&F–öâÖÆöær’V6RÂf–ÇFW"f"‚ÒÖGW&F–öâÖÆöær’V6S°¢Ð ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6&B×w&W#¦†÷fW"æ6&BÒ×6†Ræ6&BÒ×7FæF&C¦æ÷B‚æ6&BÒ×FW‡B’æ6&Eõö–ææW"°¢G&ç6—F–öã¢G&ç6f÷&Ò6Æ2ƒ"¢f"‚ÒÖGW&F–öâÖW‡FVæFVB’’V6RÂf–ÇFW"f"‚ÒÖGW&F–öâÖÆöær’V6S²ò¢6Æ÷rF†R6&BG&ç6—F–öâ7VVBv†–ÆR†÷fW"—27F—fRâ¢ð¢f–ÇFW#¢G&÷×6†F÷rƒ&VÒ'&VÒ'&VÒ&v&ƒÂÂÂãR’’G&÷×6†F÷rƒ&VÒ&VÒ&VÒ&v&ƒÂÂÂãR’“°¢Ð ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6&B×w&W#¦†÷fW"æ6&BÒÖ6&C¦gFW"À¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6&B×w&W#¦†÷fW"æ6&BÒ×7FæF&Bæ6&Eõö–ææW#¦gFW"À¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–g@¢æ6&B×w&W#¦†÷fW ¢æ6&BÒ×6†Ræ6&BÒ×7FæF&C¦æ÷B‚æ6&BÒ×FW‡B¢æ6&Eõö–ææW ¢æ6&EõöÖVF–¦&Vf÷&R°¢&6¶w&÷VæBÖ–ÖvS¢f"‚ÒÖV7FW"ÖVvr“°¢&6¶w&÷VæB×6—¦S¢#S‚#Sƒ°¢Ö—‚Ö&ÆVæBÖÖöFS¢6öÆ÷"ÖFöFvS°¢ö–çFW"ÖWfVçG3¢æöæS°¢¢Ö–æFWƒ¢#°¢Ð ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–g@¢æ6&B×w&W#¦†÷fW ¢æ6&BÒ×6†Ræ6&BÒ×7FæF&C¦æ÷B‚æ6&BÒ×FW‡B¢æ6&Eõö–ææW ¢æ6&EõöÖVF–¦&Vf÷&R°¢6öçFVçC¢rs°¢÷6—F–öã¢'6öÇWFS°¢F÷¢°¢&÷GFöÓ¢°¢ÆVgC¢°¢&–v‡C¢°¢Ð ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6&B×w&W"æ6&BÒÖ6&C¦&Vf÷&RÀ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6&B×w&W"æ6&BÒ×7FæF&Bæ6&EõöÖVF–¦gFW"°¢6öçFVçC¢rs°¢÷6—F–öã¢'6öÇWFS°¢F÷¢°¢&–v‡C¢°¢&÷GFöÓ¢°¢ÆVgC¢°¢÷6—G“¢°¢ö–çFW"ÖWfVçG3¢æöæS°¢G&ç6—F–öã¢&6¶w&÷VæB×÷6—F–öâ6Æ2ƒ"¢f"‚ÒÖGW&F–öâÖW‡FVæFVB’’V6RÂ÷6—G’f"‚ÒÖGW&F–öâÖFVfVÇB’V6S°¢Ö—‚Ö&ÆVæBÖÖöFS¢÷fW&Æ“°¢&6¶w&÷VæB×6—¦S¢CRS°¢&6¶w&÷VæB×÷6—F–öã¢“R°¢&6¶w&÷VæB×&WVC¢æò×&WVC°¢&6¶w&÷VæBÖ–ÖvS¢Æ–æV"Öw&F–VçB€¢3VFVrÀ¢&v&ƒ#SRÂ#SRÂ#SRÂ’CRRÀ¢&v&ƒ#SRÂ#SRÂ#SRÂ’SRÀ¢&v&ƒ#SRÂ#SRÂ#SRÂ’SRP¢“°¢Ð ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6&B×w&W#¦†÷fW"æ6&BÒÖ6&C¦&Vf÷&RÀ¢ææ–ÖFRÒÖ†÷fW"Ó6BÖÆ–gBæ6&B×w&W#¦†÷fW"æ6&BÒ×7FæF&Bæ6&EõöÖVF–¦gFW"°¢÷6—G“¢ã#°¢G&ç6—F–öã¢&6¶w&÷VæB×÷6—F–öâg2V6RÂ÷6—G’f"‚ÒÖGW&F–öâÖÆöær’V6S°¢&6¶w&÷VæB×÷6—F–öã¢ÆVgC°¢¢Ö–æFWƒ¢#°¢Ð ¢§&ö÷B°¢ÒÖV7FW"ÖVvs¢æöæS°¢Ò×7&¶ÆS¢W&Â‚râ÷7&¶ÆRæv–br“°¢Ð ¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBæ'WGFöã¦æ÷B‚æ'WGFöâÒ×FW'F–'’’À¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBç6†÷–g’Ö6†ÆÆVævUõö'WGFöâÀ¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBæ7W7FöÖW"'WGFöâÀ¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBç6†÷–g’×–ÖVçBÖ'WGFöåõö'WGFöâ°¢G&ç6—F–öã¢G&ç6f÷&Òf"‚ÒÖGW&F–öâÖFVfVÇB’f"‚ÒÖV6RÖ÷WB×6Æ÷r“°¢Ð ¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBæ6&B×w&W"æ6&BÒÖ6&BÀ¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBæ6&B×w&W"æ6&BÒ×7FæF&Bæ6&Eõö–ææW"°¢G&ç6—F–öã¢G&ç6f÷&Òf"‚ÒÖGW&F–öâÖÖVF—VÒ’f"‚ÒÖV6RÖ÷WB×6Æ÷r“°¢Ð ¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBæ6&B×w&W#¦†÷fW"æ6&BÒÖ6&BÀ¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBæ6&B×w&W#¦†÷fW"æ6&BÒ×7FæF&Bæ6&Eõö–ææW"°¢G&ç6f÷&Ó¢G&ç6ÆFU’‚ÓãsW&VÒ“°¢Ð ¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBæ6&B×w&W#¦7F—fRæ6&BÒÖ6&BÀ¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBæ6&B×w&W#¦7F—fRæ6&BÒ×7FæF&Bæ6&Eõö–ææW"°¢G&ç6f÷&Ó¢G&ç6ÆFU’‚ÓãW&VÒ“°¢Ð ¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBæ'WGFöã¦æ÷B‚æ'WGFöâÒ×FW'F–'’“¦æ÷B…¶F—6&ÆVEÒ“¦†÷fW"À¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBç6†÷–g’Ö6†ÆÆVævUõö'WGFöã¦æ÷B…¶F—6&ÆVEÒ“¦†÷fW"À¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBæ7W7FöÖW"'WGFöã¦æ÷B…¶F—6&ÆVEÒ“¦†÷fW"À¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBç6†÷–g’×–ÖVçBÖ'WGFöåõö'WGFöã¦†÷fW"°¢G&ç6f÷&Ó¢G&ç6ÆFU’‚Óã#W&VÒ“°¢Ð ¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBæ'WGFöã¦æ÷B‚æ'WGFöâÒ×FW'F–'’“¦æ÷B…¶F—6&ÆVEÒ“¦7F—fRÀ¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBç6†÷–g’Ö6†ÆÆVævUõö'WGFöã¦æ÷B…¶F—6&ÆVEÒ“¦7F—fRÀ¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBæ7W7FöÖW"'WGFöã¦æ÷B…¶F—6&ÆVEÒ“¦7F—fRÀ¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBç6†÷–g’×–ÖVçBÖ'WGFöåõö'WGFöã¦7F—fR°¢G&ç6f÷&Ó¢G&ç6ÆFU’ƒ“°¢Ð ¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBæ'WGFöã¦æ÷B…¶F—6&ÆVEÒ“¦†÷fW#¦gFW"À¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBæ7W7FöÖW"'WGFöã¦æ÷B…¶F—6&ÆVEÒ“¦†÷fW#¦gFW"À¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBç6†÷–g’×–ÖVçBÖ'WGFöåõö'WGFöã¦æ÷B…¶F—6&ÆVEÒ“¦†÷fW#¦gFW"°¢ÒÖ&÷&FW"Ööfg6WC¢ã7ƒ²ò¢FVfVÇB—2ã7‚2FVf–æVB&÷fR–âF†—2f–ÆRâF†—2&VÖ÷fW2‚Fò&WfVçBF†R&÷&FW"g&öÒw&÷v–æröâ'WGFöç2v†VâF†—2VffV7B—2öââ¢ð¢&÷‚×6†F÷s¢6Æ2‡f"‚ÒÖ'WGFöç2Ö&÷&FW"×v–GF‚’²f"‚ÒÖ&÷&FW"Ööfg6WB’¢&v&‡f"‚ÒÖ6öÆ÷"Ö'WGFöâ×FW‡B’Âf"‚ÒÖ&÷&FW"Ö÷6—G’’’À¢f"‚ÒÖ'WGFöç2Ö&÷&FW"×v–GF‚’&v&‡f"‚ÒÖ6öÆ÷"Ö'WGFöâ’Âf"‚ÒÖÇ†Ö'WGFöâÖ&6¶w&÷VæB’“°¢Ð ¢ææ–ÖFRÒÖ†÷fW"×fW'F–6ÂÖÆ–gBæ'WGFöã¦æ÷B…¶F—6&ÆVEÒ’æ'WGFöâÒ×6V6öæF'“¦†÷fW#¦gFW"°¢ÒÖ&÷&FW"Ööfg6WC¢ƒ²ò¢&WfVçBF†R&÷&FW"g&öÒw&÷v–æröâ'WGFöç2v†VâF†—2VffV7B—2öââ¢ð¢Ð§Ð ¢ò¢ÆöF–ær7–ææW"¢ð¢æÆöF–æuõ÷7–ææW"°¢÷6—F–öã¢'6öÇWFS°¢¢Ö–æFWƒ¢°¢v–GFƒ¢ã‡&VÓ°§Ð ¢æÆöF–æuõ÷7–ææW"°¢v–GFƒ¢ã‡&VÓ°¢F—7Æ“¢–æÆ–æRÖ&Æö6³°§Ð ¢ç7–ææW"°¢æ–ÖF–öã¢&÷FF÷"ãG2Æ–æV"–æf–æ—FS°§Ð ¤¶W–g&ÖW2&÷FF÷"°¢R°¢G&ç6f÷&Ó¢&÷FFRƒFVr“°¢Ð¢R°¢G&ç6f÷&Ó¢&÷FFRƒ#sFVr“°¢Ð§Ð ¢çF‚°¢7G&ö¶RÖF6†'&“¢#ƒ°¢7G&ö¶RÖF6†öfg6WC¢°¢G&ç6f÷&ÒÖ÷&–v–ã¢6VçFW#°¢7G&ö¶S¢&v"‡f"‚ÒÖ6öÆ÷"Öf÷&Vw&÷VæB’“°¢æ–ÖF–öã¢F6‚ãG2V6RÖ–âÖ÷WB–æf–æ—FS°§Ð ¤ÖVF–67&VVâæB†f÷&6VBÖ6öÆ÷'3¢7F—fR’°¢çF‚°¢7G&ö¶S¢6çf5FW‡C°¢Ð§Ð ¤¶W–g&ÖW2F6‚°¢R°¢7G&ö¶RÖF6†öfg6WC¢#ƒ°¢Ð¢SR°¢7G&ö¶RÖF6†öfg6WC¢sS°¢G&ç6f÷&Ó¢&÷FFRƒ3VFVr“°¢Ð¢R°¢7G&ö¶RÖF6†öfg6WC¢#ƒ°¢G&ç6f÷&Ó¢&÷FFRƒCSFVr“°¢Ð§Ð ¢æÆöF–æuõ÷7–ææW#¦æ÷B‚æ†–FFVâ’²æ6'BÖ—FVÕõ÷&–6R×w&W"À¢æÆöF–æuõ÷7–ææW#¦æ÷B‚æ†–FFVâ’â6'B×&VÖ÷fRÖ'WGFöâ°¢÷6—G“¢SS°§Ð ¢æÆöF–æuõ÷7–ææW#¦æ÷B‚æ†–FFVâ’â6'B×&VÖ÷fRÖ'WGFöâ°¢ö–çFW"ÖWfVçG3¢æöæS°¢7W'6÷#¢FVfVÇC°§Ð ¢ò¢&öw&W72&"¢ð¢ç&öw&W72Ö&"Ö6öçF–æW"°¢v–GFƒ¢S°¢Ö&v–ã¢WFó°§Ð ¢ç&öw&W72Ö&"°¢†V–v‡C¢ã7&VÓ°¢v–GFƒ¢S°§Ð ¢ç&öw&W72Ö&"×fÇVR°¢v–GFƒ¢S°¢†V–v‡C¢S°¢&6¶w&÷VæBÖ6öÆ÷#¢&v"‡f"‚ÒÖ6öÆ÷"Öf÷&Vw&÷VæB’“°¢æ–ÖF–öã¢–æFWFW&Ö–æFTæ–ÖF–öâf"‚ÒÖGW&F–öâÖW‡G&ÖÆöævW"’–æf–æ—FRV6RÖ–âÖ÷WC°¢G&ç6f÷&ÒÖ÷&–v–ã¢°§Ð ¢ç&öw&W72Ö&"ç&öw&W72Ö&"×fÇVR°¢F—7Æ“¢&Æö6³°§Ð ¤¶W–g&ÖW2–æFWFW&Ö–æFTæ–ÖF–öâ°¢R°¢G&ç6f÷&Ó¢G&ç6ÆFU‚‚Ó#R’66ÆU‚ƒ“°¢Ð¢CR°¢G&ç6f÷&Ó¢G&ç6ÆFU‚ƒ3R’66ÆU‚ƒãr“°¢Ð¢R°¢G&ç6f÷&Ó¢G&ç6ÆFU‚ƒR’66ÆU‚ƒ“°¢Ð§Ð